    <!-- <div class="container" 
    id="container-id" 
    onmouseover="alert('Evento disparado')">Container</div> -->

    <!-- <input
      type="text"
      class="meu-input"
      id="meu-input-id"
      [value]="inputText"
      [type]="inputType"
      [disabled]="isDisabled"
      
      (input)="handleInputEvent($event)"
    />

    <br>
    <button (click)="isDisabled = !isDisabled" style="margin-top: 12px;">
      {{ isDisabled ? 'Habilitar' : 'Desabilitar' }} Input
    </button>
    <br>
    <button (click)="setInputPassword()" style="margin-top: 12px;">
      Definir Tipo como Password
    </button>
    <br>
    <button (click)="setInputText()" style="margin-top: 12px;">
      Definir Tipo como Text
    </button>
    <br>
       <button (click)="logInputText()" style="margin-top: 12px;">
      Log
    </button> -->

<button [attr.title]="buttonTitle">Teste</button>
<br>
<button [attr.disabled]="buttonDisable ? true : null">Disabled</button>
<br>
<button (click)="onButtonClick()">Mudar Props</button>
<br>